:root {
  --theme: white;
  --text-length: 29;
  --text-length-dim: 29ch;
}

.english-language {
  --text-length: 29;
  --text-length-dim: 29ch;
}
.polish-language {
  --text-length: 21;
  --text-length-dim: 21ch;
}

.dark-mode {
  --theme: white;
}
.light-mode {
  --theme: black;
}

.landing-page__description {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: solid 3px var(--theme);

  animation: type 3s steps(var(--text-length)) 1s forwards,
    blink 0.5s steps(var(--text-length)) infinite;
}

@keyframes type {
  to {
    width: var(--text-length-dim);
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  50% {
    border-color: var(--theme);
  }
  to {
    border-color: transparent;
  }
}
