.transactions-page__card {
  width: 50%;
}

@media (max-width: 1258px) {
  .transactions-page__card {
    width: 100%;
  }
}

.transactions-page-stock-list {
  width: 400px;
}
@media (max-width: 540px) {
  .transactions-page-stock-list {
    width: 100%;
  }
}

.stock-list__animated-text {
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left1 10s linear infinite;
  animation: scrolling-left1 10s linear infinite;
}

@keyframes scrolling-left1 {
  from {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
  }
  to {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}
